@model IEnumerable<Stock_v2.Models.Portfel>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Moja lista spółek</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Portfel" asp-action="Create" class="btn btn-primary"> Dodaj spółkę</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Kurs
                    </th>
                    <th>
                        Cena Zakupu
                    </th>
                    <th>
                        Liczba Akcji
                    </th>
                    <th>
                        Zysk
                    </th>
                    <th>
                        Changes
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="15%">@item.Walor</td>
                        <td width="10%">@item.Kurs</td>
                        <td width="10%">@item.CenaZakupu</td>
                        <td width="10%">@item.LiczbaAkcji</td>
                        <td width="10%">@item.Zysk</td>
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-primary mx-1" asp-controller="Portfel" asp-action="Update" asp-route-Id="@item.Id">Update</a>
                                <a class="btn btn-danger mx-1" asp-controller="Portfel" asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak spółek</p>
    }

</div>